doctype html
html(lang='en')
    head
        title Prova pug
        link(rel='stylesheet', href='css/style.css')
    body
        div.pepito
            p Esto es un párrafo
        .juanito
        .menganito
        .anotherdiv